*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.father-card{
    display: flex;
    flex-direction: row;
}

.cards{
    width: 300px;
    height: 100px;
    background-color: aqua;
}